<div class="table-responsive" style="width:100%; overflow: auto;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Resource Types</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let type of resourceTypes"
            [class.selected]="type === selectedResourceType"
            [class.active]="type === selectedResourceType"
            (click)="onSelect(type)"
            class="clickable">
            <td>{{type}}</td>
        </tr>
        </tbody>
    </table>
</div>
