.classpath
.project
.settings
dependency-reduced-pom.xml
.idea/
.iml/
*.iml
.DS_Store
target
/ambari-web/public/
/ambari-web/node_modules/
org.apache.hadoop.gateway.security.EmbeddedApacheDirectoryServer/
*.pyc
*.py~
