:root {
  --md-primary-fg-color: #4a5d23;
  --md-primary-fg-color--light: #99d32d;
  --md-primary-fg-color--dark: #71a217;
  --md-accent-fg-color: #92ca29;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #9ed431;
  --md-primary-fg-color--light: #abda54;
  --md-primary-fg-color--dark: #87b03a;
  --md-accent-fg-color: #8aad43;
}

