<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <servlet>
        <servlet-name>dynamic-app-servlet</servlet-name>
        <servlet-class>org.apache.knox.gateway.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dynamic-app-servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
