<bs-modal (onClose)="onClose()" #newServiceDefinitionModal xmlns="http://www.w3.org/1999/html"> 
    <bs-modal-header [showDismiss]="true">
        <label class="modal-title">Create a New Service Definition</label>
    </bs-modal-header>
    <bs-modal-body>
        <div class="panel-body">
            <div>
                <span style="text-shadow: infotext; text-align: center;">At a minimum you must modify the service's name and role attributes!</span>
            </div>
            <br />
            <div>
                <ace-editor
                        [(text)]="serviceDefinitionContent"
                        [mode]="'xml'"
                        [options]="options"
                        [theme]="theme"
                        style="min-height: 430px; width:100%; overflow: auto;">
                </ace-editor>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default btn-sm" (click)="newServiceDefinitionModal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="newServiceDefinitionModal.close()"
                [disabled]="!validate()">Ok</button>
    </bs-modal-footer>
</bs-modal>
