<app-modal #newServiceDefinitionModal>
    <div class="modal-header">
        <label class="modal-title">Create a New Service Definition</label>
        <button type="button" class="btn-close" (click)="newServiceDefinitionModal.dismiss()"></button>
    </div>
    <div class="modal-body" style="padding: 12px;">
        <div class="alert alert-info" style="margin-bottom: 10px; font-size: 12px;">
            At a minimum you must modify the service's <strong>name</strong> and <strong>role</strong> attributes.
        </div>
        <textarea
                [(ngModel)]="serviceDefinitionContent"
                spellcheck="false"
                class="code-editor-modal">
        </textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" (click)="newServiceDefinitionModal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onClose()"
                [disabled]="!validate()">Ok</button>
    </div>
</app-modal>
