<div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">
        <h4 class="panel-title">{{title}} <span class="pull-right">{{titleSuffix}}</span></h4>
    </div>
    @if (serviceDefinitionContent) {
        <div class="panel-body" style="padding: 0;">
            <div class="code-editor-scroll">
                <div class="code-editor-wrapper">
                    <div class="code-editor-gutter">
                        @for (line of getLineNumbers(); track line) {
                            <div class="line-number">{{line}}</div>
                        }
                    </div>
                    <textarea
                            class="code-editor"
                            [(ngModel)]="serviceDefinitionContent"
                            [attr.rows]="getLineNumbers().length || 1"
                            spellcheck="false"
                            (input)="onChange($event.target.value)">
                    </textarea>
                </div>
            </div>
            <div class="editor-toolbar">
                <button id="deleteServiceDefinition" (click)="deleteServiceDefConfirmModal.open('sm')"
                        class="btn btn-default btn-sm" title="Delete Service Definition" type="submit">
                    <span class="material-icons">delete</span>
                </button>
                <button id="updateServiceDefinition" (click)="updateServiceDefConfirmModal.open('sm')"
                        class="btn btn-default btn-sm pull-right" title="Save Service Definition" type="submit">
                    <span class="material-icons">save</span>
                </button>
            </div>
        </div>
    }
</div>
<app-modal (onClose)="updateServiceDefinition()" #updateServiceDefConfirmModal>
    <div class="modal-header">
        <h4 class="modal-title">Updating Service Definition {{titleSuffix}}</h4>
        <button type="button" class="btn-close" (click)="updateServiceDefConfirmModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to update this service definition?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
                (click)="updateServiceDefConfirmModal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm"
                (click)="updateServiceDefConfirmModal.close()">Ok</button>
    </div>
</app-modal>
<app-modal (onClose)="deleteServiceDefinition()" #deleteServiceDefConfirmModal>
    <div class="modal-header">
        <h4 class="modal-title">Deleting Service Definition {{titleSuffix}}</h4>
        <button type="button" class="btn-close" (click)="deleteServiceDefConfirmModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this service definition?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm"
                (click)="deleteServiceDefConfirmModal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm"
                (click)="deleteServiceDefConfirmModal.close()">Ok</button>
    </div>
</app-modal>
