<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div>

    <div>
        <button (click)="gotoTokenGenerationPage();">Generate New Token</button>
        <button type="button" title="Refresh Knox Tokens" (click)="fetchKnoxTokens();">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <span style="float: right;">
            <mat-slide-toggle (change)="onChangeShowDisabledCookies($event)" [(ngModel)]="showDisabledKnoxSsoCookies">
              Show Disabled KnoxSSO Cookies
            </mat-slide-toggle>
        </span>
    </div>

    <div *ngIf="userCanSeeAllTokens()">
        <span style="float: right;">
            <mat-slide-toggle (change)="onChangeShowMyTokensOnly($event)" [(ngModel)]="showMyTokensOnly">
              Show My Tokens Only
            </mat-slide-toggle>
        </span>
    </div>

    <div class="table-responsive" style="width:100%; overflow: auto; overflow-y: auto; padding: 10px 0px 0px 0px;">
        <mat-form-field [floatLabel]="always" appearance="fill" #search>
            <mat-label>Search by Token ID, (Impersonated) User Name, Comment or Metadata...</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>

        <mat-table [dataSource]="knoxTokens" matSort #knoxTokensSort="matSort">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let knoxToken">
                    <mat-checkbox *ngIf="!isDisabledKnoxSSoCookie(knoxToken)"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? onRowSelectionChange(knoxToken) : null"
                        [checked]="selection.isSelected(knoxToken)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tokenId">
                <mat-header-cell *matHeaderCellDef mat-sort-header="tokenId" style="text-align: center; justify-content: center;">Token ID</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center;" [style.font-weight]="getFontWeight(knoxToken)">
                  <div *ngIf="knoxToken.metadata.enabled">{{knoxToken.tokenId}}</div>
                  <div *ngIf="!knoxToken.metadata.enabled" style="color:orange">{{knoxToken.tokenId}}</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="issued">
                <mat-header-cell *matHeaderCellDef mat-sort-header="issueTime" style="text-align: center; justify-content: center;">Issued</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center;" [style.font-weight]="getFontWeight(knoxToken)">{{formatDateTime(knoxToken.issueTimeLong)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="expires">
                <mat-header-cell *matHeaderCellDef mat-sort-header="expiration" style="text-align: center; justify-content: center;">Expires</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" [style.color]="getExpirationColor(knoxToken.expirationLong)" style="text-align: center; justify-content: center;" [style.font-weight]="getFontWeight(knoxToken)">{{formatDateTime(knoxToken.expirationLong)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header="userName" style="text-align: center; justify-content: center;">User Name</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center;" [style.font-weight]="getFontWeight(knoxToken)">{{knoxToken.metadata.userName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="impersonated">
                <mat-header-cell *matHeaderCellDef mat-sort-header="impersonated" style="text-align: center; justify-content: center;">Impersonated</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center;">
                  <div>
                    <img *ngIf="!knoxToken.metadata.createdBy" src="assets/red_cross_circle.svg" style="height:20px; width:auto" />
                    <img *ngIf="knoxToken.metadata.createdBy" src="assets/green_checkmark.svg" style="height:20px; width:auto" />
                    <p *ngIf="knoxToken.metadata.createdBy">{{knoxToken.metadata.createdBy}}</p>
                  </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="knoxSso">
                <mat-header-cell *matHeaderCellDef mat-sort-header="knoxSso" style="text-align: center; justify-content: center;">KnoxSSO</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center;">
                  <img *ngIf="isKnoxSsoCookie(knoxToken)" src="assets/green_checkmark.svg" style="height:20px; width:auto" />
                  <img *ngIf="!isKnoxSsoCookie(knoxToken)" src="assets/red_cross_circle.svg" style="height:20px; width:auto" />
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef mat-sort-header="metadata.comment" style="text-align: center; justify-content: center;">Comment</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center; word-wrap:break-word; word-break: break-word;">{{knoxToken.metadata.comment}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="metadata">
                <mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;">Additional Metadata</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken" style="text-align: center; justify-content: center; word-wrap:break-word; word-break: break-word;">
                   <ul>
                       <li *ngFor="let metadata of getCustomMetadataArray(knoxToken)">
                           {{metadata[0]}} = {{metadata[1]}}
                       </li>
                   </ul>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions" style="text-align: center; justify-content: center;">
                <mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;">Actions</mat-header-cell>
                <mat-cell *matCellDef="let knoxToken">
                    <button *ngIf="knoxToken.metadata.enabled && !isTokenExpired(knoxToken.expirationLong)" (click)="disableToken(knoxToken.tokenId);">Disable</button>
                    <button *ngIf="!isKnoxSsoCookie(knoxToken) && !knoxToken.metadata.enabled && !isTokenExpired(knoxToken.expirationLong)" (click)="enableToken(knoxToken.tokenId);">Enable</button>
                    <button *ngIf="!isKnoxSsoCookie(knoxToken)" (click)="revokeToken(knoxToken.tokenId);">Revoke</button>
                    <p *ngIf="isDisabledKnoxSsoCookie(knoxToken)" style="color:orange">Previously Disabled SSO Cookie!</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #knoxTokensPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25" [showFirstLastButtons]="true"></mat-paginator>
    </div>

    <div>
        <button *ngIf="showDisableSelectedTokensButton" type="button" (click)="disableSelectedTokens();">&nbsp;Disable Selected Tokens&nbsp;&nbsp;</button>
        <button *ngIf="showEnableSelectedTokensButton" type="button" (click)="enableSelectedTokens();">&nbsp;Enable Selected Tokens&nbsp;&nbsp;</button>
        <button *ngIf="showRevokeSelectedTokensButton" type="button" (click)="revokeSelectedTokens();">&nbsp;Revoke Selected Tokens&nbsp;</button>
    </div>
</div>

