<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>test-cluster</servlet-name>
    <servlet-class>org.apache.hadoop.gateway.GatewayServlet</servlet-class>
    <init-param>
      <param-name>gatewayClusterDescriptorLocation</param-name>
      <param-value>gateway.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>test-cluster</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
