name: Publish Test Results

on:
  workflow_run:
    workflows: ["Apache Knox Docker Compose Tests"]
    types:
      - completed

jobs:
  publish-test-results:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion != 'cancelled'
    permissions:
      checks: write
      pull-requests: write
      contents: read
      actions: read
    steps:
      - name: Download and Extract Artifacts
        uses: actions/download-artifact@v4
        with:
          run_id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: "artifacts/**/*.xml"

